
/*
 * Global add-ons
 */

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -11px; /* 10px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
	padding-left: 20px;
}

.col-sm-3.col-md-3.sidebar {
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-85 {
	width: 72%;
}

.nav-sidebar > li > a {
	padding: 10px 20px;
	font-size: 16px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav-sidebar > .ul-header {
	margin-bottom: 10px;
	padding: 8px 10px;
	font-size: 36px;
	background-color: #cccccc;
}


/*
 * Main content
 */

.main {
	padding: 20px;
}

@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

	.placeholders h4 {
		margin-bottom: 0;
	}

.placeholder {
	margin-bottom: 20px;
}

	.placeholder img {
		display: inline-block;
		border-radius: 50%;
	}
